/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: lavender;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #000033;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  text-decoration-color: yellow;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: yellow;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: yellow;
}

header {
  text-align: center;
  background: url('../images/background1.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid yellow;
  transition: all .2s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(-360deg) ;
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: yellow;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #f8de7e;
  border-bottom: 60px solid #f8de7e;
  border-radius: 60px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
/*!-- Work-XP Style page */
.workxp {
    text-align: center;
    background: url('../images/work_xp_bg.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}
.workxp {
    line-height: 1.5;
  }
.workxp .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 0%;
    border: 3px double #cc7722;
    transition: all .5s;
  }
.workxp .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
  }
  .workxp-body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #cc7722;
  }
  .tag-workxp {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  }
  .card-workxp {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fcf4a3;
    border-bottom: 60px solid #fcf4a3;
    border-radius: 0px;
    transition: all .5s;
  }
  .card-workxp:hover {
    border-color: #ff99ff;
  }

  ul.skills-workxp {
    padding: 0;
    text-align: center;
  }

  .skills-workxp li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }

  .skills-workxp li:nth-child(odd) {
    background: #0399ff;
  }
  /*!-- study-xp Style page */
  .studyxp-body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #d9dddc;
  }
  .studyxp {
      text-align: center;
      background: url('../images/study_xp_bg.jpg') no-repeat top center ;
      background-size: cover;
      overflow: hidden;
      padding-top: 60px;
  }
  .studyxp {
      line-height: 1.5;
    }
  .studyxp  .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 3px dashed black;
    transition: all .5s;
    }
  .studyxp .profile-image:hover {
      transform: scale(1.2) rotate(5deg);
    }
    .tag-studyxp {
      background-color: #efefef;
      color: black;
      padding: 10px;
      border-radius: 5px;
      display: table;
      margin: 10px auto;
    }
    .description-studyxp {
      background-color: #222;
      color: yellow;
    }
    .card-studyxp {
        margin: 30px;
        padding: 20px 40px 40px;
        max-width: 500px;
        text-align: left;
        background: #fff;
        border-bottom: 60px solid #fff;
        border-radius: 60px;
        transition: all .5s;
    }
    .card-studyxp:hover {
      border-color: #ff99ff;
    }

    ul.skills-studyxp {
      padding: 0;
      text-align: center;
    }

    .skills-studyxp li {
      border-radius: 6px;
      display: inline-block;
      background: #ff9904;
      color: white;
      padding: 5px 10px;
      margin: 2px;
    }

    .skills-studyxp li:nth-child(odd) {
      background: #0399ff;
    }
    /*!-- my-hobbies Style page */
    .myhobbies {
      text-align: center;
      background: url('../images/hobbie-bg.jpg') no-repeat top center ;
      background-size: cover;
      overflow: hidden;
      padding-top: 60px;
    }
    .myhobbies {
        line-height: 1.5;
      }
    .myhobbies .profile-image {
      margin-top: 50px;
      width: 150px;
      height: 150px;
      border-radius: 15%;
      border: 3px dotted white;
      transition: all .5s;
      }
    .myhobbies .profile-image:hover {
        transform: scale(1.2) rotate(5deg);
      }
      .myhobbies-body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #222;
        background: #ffcc00;
      }
      .tag-myhobbies {
        background-color: #efefef;
        color: black;
        padding: 10px;
        border-radius: 5px;
        display: table;
        margin: 10px auto;
      }
      .description-myhobbies {
        background-color: #222;
        color: yellow;
      }
      .card-myhobbies {
        margin: 30px;
        padding: 20px 40px 40px;
        max-width: 500px;
        text-align: left;
        background: #0080fe;
        border-bottom: 60px solid #0080fe;
        border-radius: 60px;
        transition: all .5s;
      }
      .card-myhobbies:hover {
        border-color: #ff99ff;
      }

      ul.skills-myhobbies {
        padding: 0;
        text-align: center;
      }

      .skills-myhobbies li {
        border-radius: 6px;
        display: inline-block;
        background: #ff9904;
        color: white;
        padding: 5px 10px;
        margin: 2px;
      }

      .skills-myhobbies li:nth-child(odd) {
        background: #0399ff;
      }
      /*End of Style CSS for pages */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(../images/svg_twitter.svg);
}
a.linkedin {
  background-image: url(../images/svg_linkedin.svg);
}
a.github {
  background-image: url(../images/svg_github.svg);
}
a.instagram {
  background-image: url(../images/svg_instagram.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
